.button
  padding: 0.88rem 2.1rem
  border: none
  border-radius: 22px
  outline: none
  cursor: pointer
  background-color: $red
  color: $light
  font-size: 1.143rem
  line-height: 1rem
  font-weight: 500
  border: 2px solid $red
.input
  background-color: transparent
  border: none
  outline: none
  border-bottom: 1px solid #939497
  font-size: 1.286rem
  line-height: 2.1rem
  font-weight: 300
  color: #1e1e1e
  padding-top: 0.15rem
  &::placeholder
    color: #1e1e1e
.label
  font-size: 1.286rem
  line-height: 1.337rem
  font-weight: 300
  color: #939292
  text-transform: uppercase
::-moz-placeholder, :-moz-placeholder 
    opacity: 1