@media screen and ( max-width: 1555px )
  .hero
    background: url('../img/hero-bg.png') no-repeat
    background-size: contain
    &__img
      margin-top: 5rem
      img
        width: 600px
    &__socials
      margin-left: 2rem
  .nav
    margin-left: 3.5rem
  .advantages
    &__text
      margin-left: auto
  .services
    &__text
      margin-left: auto
    &__card
      &-title
        font-size: 1.5rem
  .cases
    &__heading
      margin-left: 0
    &__text
      margin-left: auto
  .comments
    &__heading
      margin-left: 0
    &__text
      margin-left: auto
  .news
    &__heading
      margin-left: 0
    &__text
      margin-left: auto
  .contacts
    &-content
      &__heading
        font-size: 2.2rem
    &-block
      background: url('../img/contacts-bg-1.png') no-repeat right 
      background-size: 57%
  .adress
    &__heading
      font-size: 1.5rem
    &__item
      font-size: 1.1rem
  .time
    &__work
      font-size: 1.1rem
      margin-top: 0
      &-heading
        font-weight: 700
    &__weekend
      font-size: 1.1rem
      &-heading
        font-weight: 700
    &__work-time
      font-size: 1.1rem
      font-weight: 700
  .footer
    &__line
      margin-left: auto
@media screen and ( max-width: 1310px )
  .hero
    padding-bottom: 15rem
    &__img
      img
        width: 550px
  .advantages
    &__card
      .card__text
        font-size: 1.05rem
  .cases
    &-swiper
      position: static
      &-button-prev
        top: 55%
        left: 5%
      &-button-next
        top: 54%
        right: 5%
  .comments
    &-swiper
      position: static
      &__text
        margin-left: 0
      &-button-prev
        top: 52%
        left: 8.5%
      &-button-next
        top: 52%
        right: 8.5%
@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .hero
    &__socials
      margin-left: 2rem
      &::before
        margin-bottom: 2rem
        max-height: 41rem
    &__img
      width: 50%
      height: 100%
      margin-left: 0
    &__text
      max-width: 35rem
      font-size: 1.2rem
      line-height: 2.08rem
    &-background-text
      display: none
  .socials
    &__link
      margin-bottom: 1.3rem
  .title
    font-size: 3.8rem
    line-height: 4rem
    max-width: 38rem
  .nav
    margin-left: 0
    &__item
      margin-right: 1.2rem
  .logo
    &__link
      font-size: 1.6rem
  .contacts
    &__phone
      margin-right: 1rem
  .statistics
    background-position: 35% 80%
  .advantages
    &__card
      flex-basis: 30%
      &:nth-child(1)
        margin-top: -2rem
      &:nth-child(2)
        margin-top: 0
      &:nth-child(4)
        margin-top: 0
      &:nth-child(5)
        margin-top: 0
      &:nth-child(6)
        margin-top: 0
  .services
    &__card
      padding-top: 2.1rem
  .price
    &__container
      background: $light url('../img/price-image-2.png') no-repeat right
  .cases
    &-swiper
      &-button-prev
        left: 6.8%
        width: 15px
        &::after
          font-size: 28px
      &-button-next
        right: 6.8%
        width: 15px
        &::after
          font-size: 28px
      &-text
        font-size: 1.1rem
    &-statistics
      &__heading
        max-width: 24rem
        font-size: 1.1rem
    &__col-50
      margin: 0 auto
    &__col-45
      margin: 0 auto
  .comments
    &-swiper
      &-button-prev
        left: 13%
        width: 15px
        &::after
          font-size: 28px
      &-button-next
        right: 13%
        width: 15px
        &::after
          font-size: 28px
      &__text
        margin-left: auto
        margin-right: auto 
        font-size: 1.3rem
        max-width: 55.8rem
  .contacts
    &-form
      margin-top: 0
      padding: 1.25rem 0
      background: url('../img/contacts-bg-1.png') no-repeat center / cover
    &-content
      &__heading
        max-width: 28.16rem
        line-height: 2.5rem
        font-size: 1.8rem
    &-block
      background: none
      &__label
        font-size: 1.1rem
      &__input
        font-size: 1.1rem
        &-group
          margin-bottom: 1rem
          &:last-of-type
            margin-bottom: 2rem
@media screen and ( min-width: 992px )
  .logo
    &__link
      transition: color 0.3s
      &:hover
        color: $red
  .button
    transition: color 0.3s
    transition: background-color 0.3s
    &:hover
      background-color: $light
      color: $red
  .nav
    &__item
      position: relative
      &::after
        display: block
        position: absolute
        left: 52%
        bottom: -8.5px
        width: 0
        content: ''
        max-width: 5.4rem
        height: 2px
        background-color: $red 
        -webkit-transition: width 0.3s ease-in-out
        -moz--transition: width 0.3s ease-in-out
        transition: width 0.3s ease-in-out
        -webkit-transform: translateX(-50%)
        -moz-transform: translateX(-50%)
        transform: translateX(-50%)
      &:hover
        &::after
          width: 100%
  .phone
    transition: color 0.3s
    &:hover
      color: $red
  .socials
    &__link
      position: relative
      &::after
        display: block
        position: absolute
        left: 50%
        bottom: -8.5px
        width: 0%
        content: ''
        height: 2px
        background-color: $red 
        -webkit-transition: width 0.3s ease-in-out
        -moz--transition: width 0.3s ease-in-out
        transition: width 0.3s ease-in-out
        -webkit-transform: translateX(-50%)
        -moz-transform: translateX(-50%)
        transform: translateX(-50%)
      &:hover
        &::after
          width: 100%
  .services
    &__card
      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        max-width: 25.357rem
        width: 100%
        height: 0.357rem
        border-radius: 0 0 5px 5px
        background-color: $red
        opacity: 0
        transition: opacity 0.8s
      &:hover
        &::after
          opacity: 1
  .comments
    &__link
      transition: color 0.2s
      transition: border-color 0.2s
      &:hover
        color: #63bb53
        border-color: #63bb53
  .news
    &-swiper
      &-button-next
        &:hover
          transform: rotate(0deg)
          background: url(../img/news/news-next.png) no-repeat center / cover
      &-button-prev
        &:hover
          transform: rotate(180deg)
          background: url(../img/news/news-next.png) no-repeat center / cover
  .contacts
    &-content
      &__word
        transition: border-color 0.2s
        transition: color 0.2s
        &:hover
          color: #63bb53
          border-color: #63bb53
    &-block
      &__button
        transition: background-color 0.3s
        transition: color 0.3s
        &:hover
          background-color: #d8f3d1
          color: $black
  .footer
    &__company-link
      transition: color 0.3s
      &:hover
        color: $red
    &__copyright-link
      transition: color 0.3s
      &:hover
        color: $red
    &__made-link
      transition: color 0.2s
      transition: border-bottom 0.08s
      &:hover
        color: $red
        border-bottom: 1px solid $red
  .video
    &__play
      &:hover
        box-shadow: 0 0 10px 3px rgba(34, 34, 34, 0.3)
        border-radius: 50%
        width: 122px
        height: 122px
  .cases
    &-swiper
      &-button-prev, &-button-next
        &:hover
          &::after
            color: $red
  .comments
    &-swiper
      &-button-prev, &-button-next
        &:hover
          &::after
            color: $red
@media screen and ( max-width: 992px )
  .section
    padding: 2.5rem 0
  .header
    z-index: 1000
    top: 20px
  .nav
    display: none
  .hero
    &__img
      margin-right: 0
      margin-top: 4rem
    &__content
      width: 50%
    &__title
      max-width: 27.5rem
      margin-top: 8rem
    &__text
      max-width: 27.3rem
      font-size: 0.9rem
    &__socials
      &::before
        max-height: 35rem
  .title
    font-size: 2.8rem
  .statistics
    &__value
      font-size: 3.75rem
      line-height: 4.938rem
    &__text
      font-size: 1.25rem
  .video
    min-height: 30rem
    margin-top: -13.8rem
    &__play
      width: 64px
      height: 64px
      margin-top: 17rem
  .statistics
    background-size: contain  
  .advantages
    &__section-title
      margin-top: 0
      margin-bottom: 3rem
    &__card
      flex-basis: 45%
      &:nth-child(1)
        margin-top: -1.7rem
        margin-left: 0
        max-width: none
      &:nth-child(2)
        margin-left: 0
        max-width: none
        .card__text
          margin-right: 0
      &:nth-child(3)
        margin-top: 0
        margin-right: 0
        max-width: none
        .card__img
          margin-left: 0
      &:nth-child(4)
        margin-left: 0
        max-width: none
        margin-bottom: 3.55rem
      &:nth-child(5)
        margin-left: 0
        max-width: none
        .card__img
          margin-right: 0
      &:nth-child(6)
        margin-right: 0
        max-width: none
  .price
    padding: 2.5rem 0
    &__row
      padding: 2.5rem 0
      min-width: 100%
    &__container
      background: $light
  .services
    background: #e3fbdd
    &__text
      margin-bottom: 3rem
    &__row
      justify-content: space-around
    &__card
      width: auto
      flex-basis: 45%
      &:nth-child(5)
        margin-bottom: 0
  .cases
    &__section-title
      margin-top: 0
      margin-bottom: 2.5rem
    &__button
      margin-top: 2rem
    &-swiper
      &-text
        font-size: 1rem
      &__result
        margin-bottom: 1rem
      &__dynamic
        margin-bottom: 1rem
    &-statistics
      &__heading
        font-size: 1rem
      &__source
        font-size: 0.9rem
    &__col-45
      width: 46%
  .comments
    &__section-title
      margin-bottom: 2rem
    &__button
      margin-top: 2.5rem
    &-swiper
      &__text
        font-size: 1.1rem
      &-button-prev
        left: 6.8%
      &-button-next
        right: 6.8%
  .news
    &__section-title
      margin-bottom: 2rem
    &-swiper
      &__container
        right: 0
  .contacts
    &-block
      padding: 2.5rem 0
    &-form
      width: 50%
    &-content
      width: 46%
      &__heading
        font-size: 1.8rem
  .adress
    &__heading
      font-size: 1.3rem
    &__item
      font-size: 1rem
  .time
    &__work
      font-size: 1rem
    &__weekend
      font-size: 1rem
    &__work-time
      font-size: 1rem
  .footer
    padding: 2.5rem 0
  // бургер-меню
  .nav
    &__item
      display: block
      width: 100%
      padding: 10px
      font-size: 0
      color: $light
      border-top: 1px solid $light
      // border-radius: 3px
      background-color: #87c57d
      transition: 0.5s all
      &--mobile
        display: block
  .burger-line
    display: block
    position: absolute
    top: 5px
    right: 50%
    transform: translate(50%, 0)
    width: 30px
    height: 2px
    border-radius: 25px
    background-color: $light
    transition: 0.5s transform
    &__second, &__third
      top: 13px
    &__fourth
      top: 21px
  .menu
    &__wrapper
      width: 100%
      height: 30px
      background-color: #87c57d
      position: fixed
      top: 0
      left: 0
      color: $light
      text-align: center
    &__label
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      cursor: pointer
      z-index: 5
      line-height: 30px
    &__nav
      display: block
      position: absolute
      width: 100%
      max-height: 0
      font-size: 0
      overflow: hidden
      top: 30px
      left: 0
      transform: translateY (100%)
      transition: 0.5s all
    &__input
      &:checked ~ 
        .menu__nav
          max-height: 500px
        .menu__nav
          .nav__item
            font-weight: 500
            font-size: 1.4rem
        .burger-line__first
          display: none
        .burger-line__second
          height: 3px
          border-radius: 30%
          transform: translate(50%, 0) rotate(45deg)
        .burger-line__third
          height: 3px
          border-radius: 30%
          transform: translate(50%, 0) rotate(-45deg)
        .burger-line__fourth
          display: none
@media screen and ( max-width: 760px )
  html
    font-size: 11px
  .hero
    background: url('../img/hero-bg-1.png') no-repeat
    padding-bottom: 10rem
    &__title
      margin-top: 4rem
    &__content
      width: 100%
    &__img
      display: none 
  .socials
    display: none
  .statistics
    &__value
      font-size: 3rem
      line-height: 2rem
    &__text
      margin-top: 1rem
      font-size: 0.9rem
      line-height: 1rem
    &__card
      &:first-child
        .statistics__value
          letter-spacing: -0.3rem
  .video
    margin-top: -12rem
  .advantages
    &__card
      flex-basis: 48%
      .card__text
        font-size: 0.9rem
      .card__title
        font-size: 1.1rem
      // &:nth-child(1)
      //   max-width: 20.55rem
      // &:nth-child(2)
      //   max-width: 20.55rem
      // &:nth-child(3)
      //   max-width: 20.55rem
      &:nth-child(4)
        margin-top: -1rem
      //   max-width: 20.55rem
      // &:nth-child(5)
      //   max-width: 20.55rem
      // &:nth-child(6)
      //   max-width: 20.55rem
  .services
    padding-bottom: 2.5rem
    &__card
      &:nth-child(3)
        .card__title
          margin-bottom: 0.8rem
      &:nth-child(4)
        .card__title
          margin-bottom: 0.8rem
      &:nth-child(5)
        margin-bottom: 0
        .card__title
          margin-bottom: 0.8rem
      .card__text
        font-size: 1rem
      .card__title
        margin-bottom: 0.8rem
        font-size: 1.1rem
  .cases
    &-swiper
      &-button-prev
        top: 50%
        left: 8%
      &-button-next
        top: 50%
        right: 8%
      &__row
        flex-direction: column
      &__container
        padding: 1rem 1.571rem 1.5rem 2.5rem
        max-height: inherit
        max-width: 40rem
        background: url('../img/cases/cases-bg.png') no-repeat left / cover
      &__result
        margin-top: 0.5rem
    &-statistics
      &__heading
        margin-left: 0
      &__source
        margin-left: 0
  .col-50
    width: 100%
  .col-45
    width: 100%
  .comments
    &-swiper
      &__text
        font-size: 1rem
        max-width: 43rem
  .news
    &-swiper
      &__container
        padding: 1.8rem 2rem 1.8rem 2rem
        max-height: 20.8rem
        bottom: 8.5%
        right: 50%
        transform: translate(50%, 0)
      &__heading
        font-size: 1.2rem
      &__text
        font-size: 1rem
      &-button-prev
        left: 43.8%
        transform: translate(-50%, 0)
        bottom: 2px
      &-button-next
        left: 51.8% 
        transform: translate(50%, 0), rotate(180deg)
        bottom: 2px
  .contacts
    &-block
      &__row
        flex-direction: column
      &__label
        font-size: 1.3rem
      &__input
        font-size: 1.3rem
        &-group
          margin-bottom: 1.5rem
          &:last-of-type
            margin-bottom: 2rem
      &__button
        align-self: center
    &-form
      width: 100%
    &-content
      margin-left: 1.5rem
      background: url('../img/contacts-bg-3.png') no-repeat right
      background-size: contain
      margin-bottom: 2rem
      width: 100%
      &__heading
        max-width: 30rem
        font-size: 2.5rem
        line-height: 3rem
      &__row
        justify-content: flex-start
  .adress
    &__heading
      font-size: 1.6rem
    &__item
      font-size: 1.3rem
  .time
    margin-left: 5rem
    &__work
      font-size: 1.3rem
    &__weekend
      font-size: 1.3rem
    &__work-time
      font-size: 1.3rem
  div
    &.invalid
      bottom: -1.1rem
    &.contacts-block__invalid
      bottom: -1.1rem
    &.modal__invalid
      bottom: -1.1rem
@media screen and ( max-width: 570px )
  .container
    width: 90%
  .contacts
    &__phone
      margin-right: 0
    &__button
      display: none
  .statistics
    background-position: 0 50%
    &__row
      flex-wrap: wrap
      padding: 3rem 0
    &__card
      flex-basis: 50%
      &:first-child
        margin-right: 0
        .statistics__value
          margin-left: 0
      &:nth-child(3)
        margin-left: 0
      &:last-child
        margin-right: 0
    &__value
      margin-top: 2rem
    &__text
      margin-top: 1rem
      margin-bottom: 1rem
  .section
    &-title
      margin-right: auto
      margin-left: auto
      max-width: 26.363rem
      &__heading
        font-size: 2rem
      &__text
        font-size: 1.05rem
  .advantages
    &__section-title
      margin-bottom: 4rem
    &__row
      justify-content: center
    &__card
      flex-basis: 100%
      .card__text
        font-size: 1.05rem
      .card__title
        font-size: 1.3rem
      &:nth-child(1)
        max-width: 23.5rem
      &:nth-child(2)
        max-width: 23.5rem
      &:nth-child(3)
        max-width: 23.5rem
      &:nth-child(4)
        max-width: 23.5rem
      &:nth-child(5)
        max-width: 23.5rem
        margin-bottom: 3.55rem
      &:nth-child(6)
        max-width: 23.5rem
  .price
    &__heading
      font-size: 1.9rem
      margin-left: 0
    &__form
      margin-left: 1.5rem
      margin-right: 1.5rem
    &__input
      font-size: 1rem
    &__label
      font-size: 1.1rem
  .services
    &__card
      flex-basis: 100%
      &:nth-child(6)
        display: none
  .cases
    &__button
      margin-top: 2rem
    &__section-title
      margin-bottom: 2.5rem
    &-swiper
      &__container
        // max-width: 30.727rem
        padding: 1rem 1rem 1.5rem 1rem
      &-button-prev
        width: 12px
        left: 3px
        &::after
          font-size: 22px
      &-button-next
        width: 12px
        right: 3px
        &::after
          font-size: 22px
      &-text
        font-size: 1rem
  .comments
    &__button
      margin-top: 3.5rem
    &__section-title
      margin-bottom: 2.5rem
    &-swiper
      &__text
        max-width: 30.727rem
      &-button-prev
        width: 12px
        top: 58%
        left: 2%
        &::after
          font-size: 22px
      &-button-next
        width: 12px
        top: 58%
        right: 2%
        &::after
          font-size: 22px
  .news
    &-swiper
      &__container
        padding: 1rem 1.2rem 1rem 1.2rem
        width: 96%
        max-height: 20.8rem
        max-width: 31rem
        bottom: 12%
        right: 50%
        transform: translate(50%, 0)
      &__heading
        margin-bottom: 1rem
        font-size: 1.2rem
      &__text
        max-width: 28.36rem
        margin-bottom: 1.8rem
        font-size: 0.97rem
      &-button-prev
        left: 48%
        transform: translate(-100%, 0)
        bottom: 16px
      &-button-next
        left: 51%
        transform: translate(100%, 0), rotate(180deg)
        bottom: 16px
  .calendar
    &__container
      min-height: 25rem
  .contacts
    &-block
      &__label
        font-size: 1.2rem
      &__input
        font-size: 1.2rem
      &__form
        margin: 0 1.8rem 0 1.8rem
    &-content
      &__heading
        max-width: 25rem
        font-size: 1.9rem
  .adress
    &__heading
      font-size: 1.2rem
    &__item
      font-size: 1rem
  .time
    margin-left: 2rem
    &__work
      font-size: 1rem
    &__weekend
      font-size: 1rem
    &__work-time
      font-size: 1rem
  .modal
    &__dialog
      padding: 2rem
  .thanks
    &__dialog
      padding: 2rem
    &__heading
      font-size: 1.2rem
    &__text
      font-size: 1rem
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
  .input
    line-height: normal
    padding: 0.4rem 0
  .input::-ms-clear
    display: none
  .modal
    &__input
      padding: 0.7rem 2.93rem 0.7rem 1.15rem